{% extends 'base.html' %}


{% block content %}

    <form method="post">
        <label for="name">Nome da tarefa</label>
        <input 
            type="text" 
            placeholder="Dar comida para os gatos" 
            id="name" 
            name="name"
            value="{{ tarefa['label'] }}"
            required
        >
        <div>
            <input 
                type="checkbox" 
                checked="{{ tarefa['finished'] }}"
                name="finished"
                id="finished"
            >
            <label for="finished">
                Concluída
            </label>
        </div>
        <button type="submit">Enviar</button>
    </form>

    {% endblock %}
