{% extends 'base.html' %}

{% block content %}
    <nav>
        <div class="logo">Youth Space</div>
        <ul class="menu">
            <li>Home</li>
            <li>Sobre</li>
            <li>Contato</li>
        </ul>
    </nav>

    <div class="box">
        <span>Lorem ipsum dolor sit amet</span>
    </div>
    <div class="box" id="destaque">
        Lorem ipsum
    </div>
    <div class="box">
        Lorem ipsum
    </div>
    <div class="box">
        Lorem ipsum
    </div>

    <button>Enviar</button>
{% endblock %}